body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Pacifico', cursive;
}

.row-content {
    padding-top: 2em;
}

.site-footer {
    margin-top: 2em;
}

.footer-div {
    border-style: solid;
}

@media only screen and (max-width: 750px) {
    h1 {
        font-size: 3rem;
    }
}
